prevedere-connector-test/src/main/app/prevedere-connector-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:prevedere="http://www.mulesoft.org/schema/mule/prevedere" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/prevedere http://www.mulesoft.org/schema/mule/prevedere/current/mule-prevedere.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <prevedere:config name="Prevedere__Configuration" apiKey="e65aa793ae79494f824c2ac6dec677e0" doc:name="Prevedere: Configuration"/>
    <prevedere:config name="Prevedere__Configuration1" apiKey="e65aa793ae79494f824c2ac6dec677e0" doc:name="Prevedere: Configuration"/>
    <flow name="prevedere-connector-testFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
        <prevedere:test-connection config-ref="Prevedere__Configuration" echo="hello guy" doc:name="Prevedere"/>
    </flow>
    <flow name="prevedere-connector-forecastmodels">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <prevedere:get-forecast-models config-ref="Prevedere__Configuration" doc:name="Prevedere"/>
    </flow>
    <flow name="prevedere-connector-indicators">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/indicator/{query}/{internal}" allowedMethods="GET" doc:name="HTTP"/>
        <prevedere:search-indicators config-ref="Prevedere__Configuration" query="#[message.inboundProperties.'http.uri.params'.query]" frequency="#[message.inboundProperties.'http.query.params'.frequency]" seasonality="#[message.inboundProperties.'http.query.params'.seasonality]" internalOnly="#[message.inboundProperties.'http.uri.params'.internal]" doc:name="Prevedere"/>
    </flow>
</mule>
